body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000;
}

header {
    position: sticky;
    top: 0;
    background: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 5%;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.github-btn {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    text-align: right;
}

.github-btn:hover {
    background: #fff;
    color: #000;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #000, #fff);
    color: #fff;
    padding: 50px;
}

.hero-content {
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    max-width: 100%;
    border-radius: 20px;
}

.how-it-works {
    text-align: center;
    padding: 50px;
}

.how-it-works .steps {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.step {
    flex: 1;
    max-width: 30%;
    text-align: center;
    
}

.accelerate {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom, #fff, #ff0);
}

.features {
    background: linear-gradient(to bottom, #ff0, #fff);
    padding: 50px;
    text-align: center;
}

.feature-list {
    display: flex;
    justify-content: space-around;
}

.feature {
    flex: 1;
    margin: 0 10px;
}

.feature-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10px;
}

.feature-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
}

.cta {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.cta:hover {
    background: #444;
}

footer {
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    position: relative;
    font-size-adjust: 200%;
}

.footer-divider {
    height: 2px;
    background: #000;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
