/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar a {
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
.github-button {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  outline-color: white;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background: linear-gradient(black, white);
}
.hero-content {
  flex: 1;
  color: white;
}
.hero-image img {
  height: 100%;
  border-radius: 15px;
}

/* Sections */
section {
  text-align: center;
  align-items: center;
  padding: 50px 20px;
}
.how-it-works {
  text-align: center;
  align-items: center;
  background-color: white;
}
.accelerate-analysis {
  text-align: center;
  align-items: center;
  background: linear-gradient(white, #F2CA2C);
}
.features {
  text-align: center;
  align-items: center;
  background: linear-gradient( #F2CA2C, white);
}
.transform-workflow {
  text-align: center;
  align-items: center;
  background-color: #F2CA2C;
  text-align: center;
}
footer {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
  position: relative;
}
.footer .divider {
  width: 80%;
  height: 2px;
  background: black;
  margin: 10px auto 0;
}
